<div id="outer">
  <div id="inner">
    <h1 id="name">Michael Collins</h1>
    <h2 id="dates">Oct 31, 1930 - Apr 28, 2021</h2>
    <img src="https://assets.newatlas.com/dims4/default/b2e3702/2147483647/strip/true/crop/1535x1024+0+119/resize/1200x800!/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2F8e%2Fa1%2Fa9fc7b4d4fb19531274ccb704d3c%2Fs69-31742-large.jpeg" alt="Michael Collins">
    <p>
      While I was working on this website, Apollo 11 astronaut and U.S. Air Force veteran Michael Collins passed away at age 90. This project is dedicated to “the loneliest man in space”. Click <a href="https://www.nasa.gov/press-release/statements-on-passing-of-michael-collins" target="_blank">here</a> to read NASA's official statement on Collins' passing.
    </p>
  </div>
</div>
