#name {
  font-size: 54px;
  font-weight: 600;
  padding-top: 15%;
  text-align: center;
}

#dates {
  font-size: 48px;
  font-weight: 500;
  padding-bottom: 5%;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  padding-bottom: 5%;
  width: 30vw;
}

p {
  font-size: 28px;
  font-style: italic;
  line-height: normal;
}
