<div id="outer">
  <div fxLayout="column" fxLayoutAlign="space-around center" id="inner">
    <h1 class="text" id="title">
      About the Pluto Memorial
    </h1>
    <p class="text" id="write-up">
      On August 24, 2006, our dearly beloved celestial spheroid known as Pluto was demoted to Dwarf Planet by the International Astronomical Union (IAU). More like... International HATERS Union! I mean, it’s bad enough that Plutey Plutes got the least amount of love from Big Daddy Sun, but they couldn’t even wait for one full revolution? SERIOUSLY? The IAU may have done our favorite space ball dirty, but that’s not gonna stop us from remembering the 76 glorious Earth years we had with our ninth planet. Here’s a little poem I wrote:
    </p>
    <div id="poem">
      <p>
        Why is it always that the smallest are fated
        <br>
        To a life of being overlooked and underestimated?
      </p>
      <p>
        Is it written in the stars or etched in stone?
        <br>
        Are they destined to live a life all alone?
      </p>
      <p>
        We keep on forgetting, at the end of the day
        <br>
        That we’re nothing but specks within the Milky Way.
      </p>
      <p>
        There are entire solar systems we may never explore
        <br>
        So let’s not dismiss a part of ours anymore.
      </p>
      <p>
        A beautiful orb placed ninth from our sun
        <br>
        Once had respect as it circled and spun.
      </p>
      <p>
        But before it even completed one year
        <br>
        It was stripped of a title it held so dear.
      </p>
      <p>
        It had five moons and its gravity looked good
        <br>
        But it wasn’t enough to <a href="https://en.wikipedia.org/wiki/Clearing_the_neighbourhood" target="_blank">clear its neighborhood</a>.
      </p>
      <p>
        Pedantry won and the orb was demoted
        <br>
        And left to wallow in shame as it floated.
      </p>
      <p>
        But some of us remember, and we won’t forget
        <br>
        To pay our respects to our former ninth planet.
      </p>
    </div>
  </div>
</div>
