#title {
  font-size: 54px;
  font-weight: 600;
  padding-bottom: 5%;
  padding-top: 15%;
  text-align: center;
}

.pic {
  float: left;
  margin-right: 25px;

  img {
    height: 20vh;
    width: auto;
  }
}

#caption {
  font-size: 20px;
  text-align: center;
}

.info {
  font-size: 24px;
  line-height: 1;
  text-align: justify;
}
