html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #010101;
  background-image: url("./assets/images/Pluto_Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 95%;

  #outer {
    background-color: rgba(254, 254, 254, 0.75);
    height: 100vh;
    width: 100vw;

    #inner {
      margin: auto;
      width: 50vw;
    }
  }
}
